<section class="main-wrap">
    <div class="log-out-block">
        <a id="logOut" class="blue-btn" href="" onclick="logout();">Log Out</a>
        <span class="main-title">User: <?php echo $_SESSION['login']; ?></span>
    </div>
    <header>
        <h1 class="main-title projects-title">TODO LISTS</h1>
    </header>
</section>