<script src="view/js/script.js"></script>
<script id="template" type="text/html">
    {{#projects}}
    <article class="project">
        <div class="project-header">
            <div class="title-edit-block">
                <div class="edit-form-wrap">
                    <input type="text" class="project_name" id="project_{{id}}" onblur="Lost_focus(this);" onchange="Change_project_name(this, {{id}});" value={{name}} disabled>
                </div>
            </div>
            <span class="header-calendar"></span>
            <ul class="toolbar toolbar--header">
                <li><a class="edit-project" onclick="Project_edit(this)" title="Edit project"></a></li><li><a class="delete-project" title="Delete project" onclick="project_delete({{id}})"></a></li>
            </ul>
        </div>
        <div class="task-block">
            <div class="add-task">
                <div class="task-input-block">
                    <div class="edit-form-wrap">
                        <div class="edit-form edit-form--task">
                            <input id="add_task_btn" class="green-btn" type="button" value="Add Task" onclick="Add_task(this, {{id}});" disabled><input type="text" class="add_task_name" placeholder="Start typing here to create a task…" onkeyup="Validation_task(this); ">
                        </div>
                    </div>
                </div>
                <span class="task-plus-icon"></span>
            </div>
            <ul class="tasks-list">
                {{#tasks}}
                <li class="task-item" data-id="{{id}}">
                    <div class="task-list-check-block">
                        <div class="task-checkbox">
                            <label><input type="checkbox" {{Status}} onchange="Edit_status(this, {{id}});"><span></span></label>
                        </div>
                    </div>
                    <div class="task-list-toolbar-block">
                        <ul class="toolbar toolbar--task-list">
                            <li><a class="drag-task" title="Drag task"></a></li><li><a class="edit-task" title="Edit task" onclick="Task_edit(this);"></a></li><li><a class="delete-task" title="Delete task" onclick="Task_del({{id}});"></a></li>
                        </ul>
                    </div>
                    <div class="task-list-content-block">
                        <div class="task-list-content-wrap"><textarea class="task_name {{Status}}" rows=1 disabled 
                        onblur="Lost_task_focus(this);" onchange="Change_task_name(this, {{id}});">{{name}} </textarea></div>
                    </div>
                </li>
                {{/tasks}}
            </ul>
        </div>
    </article>
    {{/projects}}
</script>

<script id="template_add_project" type="text/html">
    {{#projects}}
    <div class="project-header delete_after">
        <div class="title-edit-block">
            <div class="edit-form-wrap">
             <input type="text" class="project_name project_name_add"onblur="Save_add_project(value);" value="">
         </div>
     </div>
     <span class="header-calendar"></span>
 </div>
 {{/projects}}
</script>
